@import url(./reset.css);
body{
    max-width: 500px;
    width: 100%;
    margin: auto;
}
/* header */
header{
    width: 100%;
    padding: 1.25rem;
    background-image: url(../img/skybg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    position: sticky;
}
header p{
    text-align: center;
    color: #fff;
    font-size: 1rem;
    line-height: 1.4rem;
    margin-top: 1rem;
}
header b{
    font-size: 1.2rem;
    font-weight: 600;
}
.wrap{
    padding: 1.25rem;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wrap figure{
    width: 30%;
    margin-bottom: 1.25rem;
}
/* footer */
footer{
    max-width: 500px;
    width: 100%;
    background-color: #000;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem;
    }
    footer a{
        display: flex;
        flex-direction: column;
        color: #fff;
        align-items: center;
    }
    footer a img{
        margin-bottom: .3rem;
    } 
    .footer {
        width: 100%;
        height: 80px;
    }
    